<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'simple_task/home.html' %}
{% block content %}
  <h2>NAme and email</h2>

<form class="someclass" action="" method="post">{% csrf_token %}

                <div>


                        {{ time_chose }}


                    <p>{{ date_chose }}</p>
                 {{ forma.as_p}}
                    <button type="submit">Sent user</button>
                </div>
</form>
{% endblock %}

</body>
</html>